{% extends 'hostel/templates/base.html' %}

{% block title %}Landing Page - Hostel Management System{% endblock %}

{% block content %}
<div class="hero">
    <div class="container">
        <h1>Welcome to the Hostel Management System</h1>
        <p class="lead">A seamless way to apply for hostel accommodation and manage applications.</p>
        <a href="{% url 'register' %}" class="btn btn-custom btn-lg">Register</a>
        <a href="{% url 'student_login' %}" class="btn btn-custom btn-lg">Student Login</a>
        <a href="{% url 'rector_login' %}" class="btn btn-custom btn-lg">Rector Login</a>
    </div>
</div>
{% endblock %}